<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">

  <title><%= global.config.title %></title>
    
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/admin.css">
    <% if (global.config.debug) {%>
    <link rel="stylesheet" href="/src/css/main.css">
    <% } else {%>
    <link rel="stylesheet" href="/dist/css/bundle.css">
    <%}%>

</head>
  